<ion-view view-title="Cards">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        Header
      </div>
      <div class="item item-text-wrap">
        Cards have its shadow.
        もちろん日本語の表示も問題ない.
        ちゃんとtextもwrapしてくれる.looooooooooooooooooooooooooooooooooooooooong text
      </div>
      <div class="item item-divider">
        Footer
      </div>
    </div>

    <div class="list card">
      <div class="item item-text-wrap">
      <code><pre>
        &lt;div <span style="color:red;">class="card"</span>&gt;
          &lt;div class="item item-divider"&gt;
            Header
          &lt;/div&gt;
          &lt;div class="item <span style="color:red;">item-text-wrap</span>"&gt;
            Cards have its shadow.
            もちろん日本語の表示も問題ない.
            ちゃんとtextもwrapしてくれる.looooooooooooooooooooooooooooooooooooooooong text
          &lt;/div&gt;
          &lt;div class="item item-divider"&gt;
            Footer
          &lt;/div&gt;
        &lt;/div&gt;</pre></code></div>
    </div>

    <div class="list card">
      <a class="item item-icon-left">
        <i class="icon ion-home"></i>
        Home address
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        Phone number
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Wifi
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-card"></i>
        Card information
      </a>
      <div class="item item-text-wrap">
      <code><pre>
        &lt;div class="<span style="color:red;">list card</span>"&gt;
          &lt;a class="item item-icon-left"&gt;
            &lt;i class="icon ion-home"&gt;&lt;/i&gt;
            Home address
          &lt;/a&gt;
          &lt;a class="item item-icon-left"&gt;
            &lt;i class="icon ion-ios-telephone"&gt;&lt;/i&gt;
            Phone number
          &lt;/a>
          &lt;a class="item item-icon-left"&gt;
            &lt;i class="icon ion-wifi"&gt;&lt;/i&gt;
            Wifi
          &lt;/a>
          &lt;a class="item item-icon-left"&gt;
            &lt;i class="icon ion-card"&gt;&lt;/i&gt;
            Card information
          &lt;/a&gt;
        &lt;/div&gt;</pre></code></div>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="../../img/avatar0.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </div>
      <div class="item item-image">
        <img src="../../img/avatar4.jpg">
      </div>
      <a class="item item-icon-left assertive">
        <i class="icon ion-music-note"></i>
        Start listening
      </a>
      <div class="item">
        <code><pre>
        &lt;div class="list card"&gt;
          &lt;div class="item <span style="color:red;">item-avatar</span>"&gt;
            &lt;img src="../../img/avatar0.jpg"&gt;
            &lt;h2&gt;Pretty Hate Machine&lt;/h2&gt;
            &lt;p&gt;Nine Inch Nails&lt;/p&gt;
          &lt;/div&gt;
          &lt;div class="item <span style="color:red;">item-image</span>"&gt;
            &lt;img src="../../img/avatar4.jpg"&gt;
          &lt;/div&gt;
          &lt;a class="item item-icon-left assertive"&gt;
            &lt;i class="icon ion-music-note"&gt;&lt;/i&gt;
            Start listening
          &lt;/a&gt;
        &lt;/div&gt;
        </div></code></pre>
      </div>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="../../img/avatar1.png">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="../../img/avatar3.jpg">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a class="subdued">1 Like</a>
          <a class="subdued">5 Comments</a>
        </p>
      </div>
      <div class="item text-wrap">
        <code><pre>
          &lt;div class="list card"&gt;
            &lt;div class="item item-avatar"&gt;
              &lt;img src="../../img/avatar1.png"&gt;
              &lt;h2&gt;Marty McFly&lt;/h2&gt;
              &lt;p&gt;November 05, 1955&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="item <span style="color:red;">item-body</span>"&gt;
              &lt;img <span style="color:red;">class="full-image"</span> src="../../img/avatar3.jpg"&gt;
              &lt;p&gt;
                This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                the content is from a card-body consisting of an image and paragraph text. The footer
                consists of tabs, icons aligned left, within the card-footer.
              &lt;/p&gt;
              &lt;p&gt;
                &lt;a class="<span style="color:red;">subdued</span>"&gt;1 Like&lt;/a&gt;
                &lt;a class="subdued"&gt;5 Comments&lt;/a&gt;
              &lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;</pre></code></div>
    </div>

  </ion-content>
</ion-view>
