<ion-view view-title="Active Lists">
  <ion-content>

    <div class="bar bar-header bar-dark">
      <button class="button icon ion-minus-circled" ng-click="toggleDeleteButtons()"></button>
      <h1 class="title">Alt Header</h1>
      <button class="button icon ion-navicon" ng-click="toggleReorderButtons()"></button>
    </div>

    <div>
      <p class="padding">/</p>
      <code><pre>
        &lt;ion-item ng-repeat="<span style="color:red;">item in items</span>"&gt;
          {{item.title}｝
          &lt;<span style="color:red;">ion-option-button</span> class="button-positive"&gt;
            Share
          &lt;<span style="color:red;">/ion-option-button</span>&gt;
          &lt;ion-option-button class="button-assertive"&gt;
            Edit
          &lt;/ion-option-button&gt;
          &lt;<span style="color:red;">ion-delete-button</span> class="ion-minus-circled" ng-click="deleteItem(item)"&gt;&lt;<span style="color:red;">/ion-delete-button</span>&gt;
          &lt;<span style="color:red;">ion-reorder-button</span> class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)"&gt;&lt;<span style="color:red;">/ion-reorder-button</span>&gt;
        &lt;/ion-item&gt;</pre></code>
    </div>

    <ion-list>
      <ion-item ng-repeat="item in items">
        {{item.title}}
        <ion-option-button class="button-positive">
          Share
        </ion-option-button>
        <ion-option-button class="button-assertive">
          Edit
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(item)"></ion-delete-button>
        <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
  </ion-content>
</ion-view>
