<ion-view view-title="Buttons">
  <ion-content>
    <ion-list>

      <ion-item>
        <button class="button">
          Default
        </button>
      </ion-item>
      <ion-item>
        <code><pre>
        <span style="color:red;">&lt;button class="button"&gt;
          Default
        &lt;/button&gt;</span></pre></code>
      </ion-item>

      <ion-item>
        <button class="button button-block button-assertive">
          button-assertive
        </button>
      </ion-item>
      <ion-item>
        <code><pre>
        &lt;button class="button <span style="color:red;">button-block</span> button-assertive"&gt;
          button-assertive
        &lt;/button&gt;</pre></code>
      </ion-item>

      <ion-item>
        <button class="button button-small button-positive">
          button-positive
        </button>
        <button class="button button-large button-calm">
          button-calm
        </button>
      </ion-item>
      <ion-item>
        <code><pre>
          &lt;button class="button <span style="color:red;">button-small</span> button-positive"&gt;
            button-positive
          &lt;/button&gt;
          &lt;button class="button <span style="color:red;">button-large</span> button-calm"&gt;
            button-calm
          &lt;/button&gt;</pre></code>
      </ion-item>

      <ion-item>
        <button class="button button-outline button-balanced">
          button-balanced
        </button>
        <button class="button button-clear button-energized">
          button-energized
        </button>
      </ion-item>
      <ion-item>
        <code><pre>
          &lt;button class="button <span style="color:red;">button-outline</span> button-balanced"&gt;
            button-balanced
          &lt;/button&gt;
          &lt;button class="button <span style="color:red;">button-clear</span> button-energized"&gt;
            button-energized
          &lt;/button&gt;</pre></code>
      </ion-item>

      <ion-item>
        <button class="button icon-left ion-home">
          Home
        </button>
        <button class="button icon-right ion-star button-positive">
          Favorites
        </button>
      </ion-item>
      <ion-item>
        <code><pre>
          &lt;button class="button <span style="color:red;">icon-left ion-home</span>"&gt;
            Home
          &lt;/button&gt;
          &lt;button class="button <span style="color:red;">icon-right ion-star</span> button-positive"&gt;
            Favorites
          &lt;/button&gt;</pre></code>
        <p>There are many 500+ icons for ionic. <a href="http://ionicons.com">http://ionicons.com</a> displays all the icons for us.</p>
      </ion-item>

      <ion-item>
        <div class="button-bar">
          <a class="button">First</a>
          <a class="button button-calm">Second</a>
          <a class="button button-royal">Third</a>
        </div>
      </ion-item>
      <ion-item>
        <code><pre>
          &lt;div <span style="color:red;">class="button-bar"</span>&gt;
            &lt;a class="button"&gt;First&lt;/a&gt;
            &lt;a class="button button-calm"&gt;Second&lt;/a&gt;
            &lt;a class="button button-royal"&gt;Third&lt;/a&gt;
          &lt;/div&gt;</pre></code>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
