<ion-view view-title="Buttons">
  <ion-content>
    <ion-list>
      <ion-item>
        <button class="button">Default</button>
      </ion-item>
    </ion-list>

    <button class="button button-light">
      button-light
    </button>

    <button class="button button-block button-stable">
  button-stable
</button>

<button class="button button-small button-positive">
  button-positive
</button>

<button class="button button-large button-calm">
  button-calm
</button>

<button class="button button-outline button-balanced">
  button-balanced
</button>

<button class="button button-clear button-energized">
  button-energized
</button>

<button class="button icon-left ion-home">
  Home
</button>

<button class="button icon-right ion-star button-positive">
  Favorites
</button>

http://ionicons.com

<div class="button-bar">
  <a class="button">First</a>
  <a class="button">Second</a>
  <a class="button">Third</a>
</div>
  </ion-content>
</ion-view>
