<ion-view view-title="Action Views">
  <ion-content>
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>

    <button class="button button-positive" ng-click="showActionSheet()">
      Show ActionSheet
    </button>

    <button class="button button-calm" ng-click="showModal()">
      Show Modal
    </button>

    <button class="button button-royal" ng-click="showPopover($event)">
      Show Popover
    </button>

  </ion-content>
</ion-view>
